<script>
// 這是javascript註解
// 也可以縮寫成$(function() {
$(document).ready(function(){
  $("#my-click").click(function(){
    $("#foo").html('<h1>zoo</h1>');
  })
})
</script>

<p>
  <a id="my-click">Click me</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>
